{% include 'commonHeadPart.html' %}
<link href="{{ url_for('static', filename='blogs.css')}}" rel="stylesheet">

<style>
    html::before{
        background-image: url('{{ url_for('static', filename='img/blogs/hero/bg.png') }}');
    }

    .hero{
        background-image: url('{{ url_for('static', filename='img/blogs/hero/wow1.png') }}');
    }

</style>

</head>

<body>

{% include 'blogsHeader.html' %}

<section class="travel first-section" id="travel">
    <div class="hero">
        <div class="hero-content">

            <h1 class="hero-heading main-heading">
                Where Journeys<br>
                <span>Become Stories.</span>
            </h1>

            <p class="body-text">
                Exploring the world, one story at a time. Real experiences. Honest stories.
            </p>

            <a href="#featured" class="btn small-text">Explore Stories&nbsp&nbsp&nbsp→</a>

            <p class="small-text">
                <i class='bx bx-current-location location-icon'></i>&nbsp&nbspCurrently exploring:
                <strong class="sub-heading">Tasmania</strong>
            </p>
        </div>
    </div>

    <div class="blog-main-divs" id="featured">
        <div class="title">
            <h2 class="section-heading">Featured Stories</h2>
            <a href="#" class="body-text">View all&nbsp&nbsp&nbsp→</a>
        </div>

        <div class="all-featured">
            {% set thumbnail = primaryFeaturedBlog.images|selectattr('is_thumbnail', 'equalto', true)|first %}
            <div class="primary-featured"
            style="background-image: url('{{ thumbnail.variants[-1].image_url if thumbnail and thumbnail.variants else '' }}');">
                <div class="featured-post-information">
                    <a href="#" class="badge small-text">{{ primaryFeaturedBlog.country }}</a>
                    <h3 class="sub-heading">{{ primaryFeaturedBlog.title }}</h3>
                    <p class="body-text faint-white">{{ primaryFeaturedBlog.content }}</p>
                    <a href="newblog/{{ primaryFeaturedBlog.slug }}"
                       class="read-featured-story small-text faint-white">Read
                        Story&nbsp&nbsp&nbsp→</a>
                </div>
            </div>
            <div class="secondary-featured">
                {% for blog in secondaryFeaturedBlog %}
                {% set thumbnail = blog.images|selectattr('is_thumbnail', 'equalto', true)|first %}
                    <div class="secondary-featured-child"
                        style="background-image: url('{{ thumbnail.variants[-1].image_url if thumbnail and thumbnail.variants else '' }}');">
                        <div class="featured-post-information">
                            <a href="#" class="badge small-text">NEPAL</a>
                            <h3 class="sub-heading">{{ blog.title }}</h3>
                            <p class="body-text faint-white">{{ blog.content }}</p>
                            <a href="newblog/{{ blog.slug }}"
                               class="read-featured-story small-text faint-white">Read
                                Story&nbsp&nbsp&nbsp→</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="blog-main-divs" id="latest">
        <div class="title">
            <h2 class="section-heading">Latest Stories</h2>
            <a href="#" class="body-text">View all&nbsp&nbsp&nbsp→</a>
        </div>

        <div class="all-latest">
            {% for blog in blogs %}
            {% set thumbnail = blog.images|selectattr('is_thumbnail', 'equalto', true)|first %}

            <a class="latest-blog" href="newblog/{{ blog.slug }}">
                <div class="blog-image"
                     style="background-image: url('{{ thumbnail.variants[-1].image_url if thumbnail and thumbnail.variants else '' }}');">
                    <span class="badge small-text">{{ blog.country }}</span>
                </div>
                <div class="blog-information">
                    <h3 class="sub-heading"> {{ blog.title }} </h3>
                    <p class="body-text faint-black"> {{ blog.content }} </p>
                    <p class="small-text faint-black"><i class='bx bx-calendar'></i> {{ blog.created_at.strftime('%B %d, %Y') }} </p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="blog-main-divs">
        <div class="maps-and-join">
            <div class="map">
                <h2 class="section-heading">Where I've Been</h2>
                <div class="map-components">
                    <img src="{{ url_for('static', filename='img/maps/worldMap.svg') }}">
                    <svg class="travel-lines" viewBox="0 0 100 100" preserveAspectRatio="none">
                        <path d="M69.5,49.5 Q78,40 87.5,66.25" class="flight-path"/>
                    </svg>
                    <svg class="travel-lines" viewBox="0 0 100 100" preserveAspectRatio="none">
                        <path d="M87.5,66.25 Q100,69 86.5,71" class="flight-path"/>
                    </svg>


                    <div class="marker nepal"></div>
                    <div class="marker australia"></div>
                    <div class="marker tasmania"></div>
                </div>
            </div>
            <div class="join">
                <span><i class='bx bxs-bell-ring main-heading'></i></span>
                <h2 class="section-heading">Join my Journey</h2>
                <p class="body-text">Get travel stories, tips and behind the scenes in your inbox.</p>
                <form>
                    <input type="email" placeholder="Your email address">
                    <button type="button">Subscribe</button>
                </form>
                <p class="small-text">No spam. Unsubscribe anytime.</p>
            </div>
        </div>
    </div>
</section>

{% include 'blogsFooter.html' %}
