<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{title}}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        window.onload = function() {
            const header = document.querySelector('header');
            const headerHeight = header.offsetHeight;
            console.log("height");
            console.log(headerHeight);

            $('section').css('padding-top', headerHeight + 'px');
        };

        document.addEventListener('DOMContentLoaded', function() {
            {% if alert %}
                Swal.fire({
                    title: 'Success',
                    text: 'Your message is sent successfully to Dhiraj.He will contact you soon. Thank you so much!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    alert = False
                });
            {% endif %}

        });
    </script>