<footer class="footer">

    <div class="social">
        <a href="https://www.linkedin.com/in/dhirajdhungana/"><i class='bx bxl-linkedin-square'></i></a>
        <a href="https://www.facebook.com/originaldhiraj"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://www.instagram.com/dh1raz/"><i class='bx bxl-instagram-alt'></i></a>
        <a href="https://www.youtube.com/@dhirajdhunganaofficial"><i class='bx bxl-youtube'></i></a>
    </div>

    <ul class="list">
        <li>
            <a href="#portfolio">Home</a>
        </li>
        <li>
            <a href="#about">About Me</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
    </ul>

    <p class="copyright">&copy; 2021
        <script>new Date().getFullYear()>2021&&document.write(" - "+new Date().getFullYear());</script>
        Dhiraj Dhungana | All Rights Reserved
    </p>

</footer>

<script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>

</body>
</html>