<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">


    <title>{{title}}</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
     <!--<script>
        window.onload = function() {
            {% if alert %}
                alert("Message send!");
                alert = False;
            {% endif %}
        };

        document.addEventListener('DOMContentLoaded', function() {
            {% if alert %}
                Swal.fire({
                    title: 'Success',
                    text: 'Your message is sent successfully to Dhiraj.He will contact you soon. Thank you so much!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    alert = False
                });
            {% endif %}

        });
    </script>-->
</head>
<body>
<header class="header">
    <a href="#portfolio" class="logo"><span>Dhi</span>raj</a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        <a href="#portfolio" class="active">Introduction</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#projects">Projects</a>
        <a href="#contact" class="contact-navItem">Contact Me</a>
        <!--<a href="#blogs">Blogs</a>
        <a href="#hobbies">Hobbies</a>-->
        <!--            <a href="{{ url_for('oldSite') }}">Old Site</a>-->
    </nav>

    <a href="#contact" class="contact">Contact Me</a>
</header>

<section class="portfolio" id="portfolio">
    <div class="portfolio-content">
        <h2 class="subHeading">Hi</h2>
        <h1 class="heading">I'm <span>Dhiraj<br></span>a Full-Stack Developer</h1><br>

        <p>I am a dedicated Full-Stack Developer with a strong focus on building clean, scalable, and user-centric web
            applications.
            With experience across both front-end and back-end development, I work confidently with modern frameworks,
            REST APIs, databases,
            and cloud services to deliver seamless end-to-end solutions. I enjoy transforming ideas into functional
            digital products,
            solving complex technical problems, and continuously learning new technologies to improve performance,
            usability, and reliability.
            Passionate about writing efficient code and creating meaningful user experiences,
            I thrive in collaborative environments where innovation and quality come first.</p><br>

        <div class="social">
            <a href="https://www.linkedin.com/in/dhirajdhungana/"><i class='bx bxl-linkedin-square'></i></a>
            <a href="https://www.facebook.com/originaldhiraj"><i class='bx bxl-facebook-circle'></i></a>
            <a href="https://www.instagram.com/dh1raz/"><i class='bx bxl-instagram-alt'></i></a>
            <a href="https://www.youtube.com/@dhirajdhunganaofficial"><i class='bx bxl-youtube'></i></a>
        </div>

        <div class="btn-box-grid">
            <button class="btn-1">Hire Me</button>
            <button class="btn-2">Experience</button>
        </div>


    </div>

    <div class="img-box">
        <img src="../static/img/dhiraj_profile.jpg" alt="dhiraj_profile">
    </div>
</section>

<section class="about" id="about">
    <div class="about-img">
        <img src="../static/img/dhiraj.jpg" alt="dhiraj_profile">
    </div>

    <div class="about-content">
        <h1 class="heading">About <span>Me</span></h1>
        <h2 class="subHeading">Full-Stack <span>Developer</span></h2>
        <p>
            Former <b>Associate Software Engineer</b> at <b><a href="https://www.linkedin.com/company/deerwalk-inc/"
                                                               target="_blank">Deerwalk Inc.</a>,</b> currently
            known as <b><a href="https://www.linkedin.com/company/cedar-gate-tech/" target="_blank">Cedar Gate
            Technologies</a>.</b>
            I started my career there as an intern on 2<sup>nd</sup>, September, 2019, and became full-time on
            4<sup>th</sup>, May, 2020, and worked until 23<sup>rd</sup>, February, 2021, before I decided to pursue
            a Master of Information Technology in Australia.
            During my tenure there as an experienced software engineer,
        </p>

        <ul>
            <li>I designed and developed scalable web applications along with RESTful APIs.</li>
            <li>I am proficient in Java, Spring Boot, JavaScript, Angular, and React.</li>
            <li>I have hands-on experience in cloud services like AWS S3, SQS, CloudWatch, and Lambda.</li>
            <li>I have experience working with Grails, .NET, and Azure Test Plan.</li>
            <li>I have a strong background in the MySQL Database Management System.</li>
        </ul>

        <p>
            With a solid understanding of Agile methodologies, along with Scrum and test-driven development, I was
            able to deliver high-quality software solutions by collaborating with cross-functional teams to conduct
            code reviews.<br><br>
        </p>
        <a href="#" class="btn-2">Experience</a>
        <a class="btn-2"
           href="{{ url_for('static', filename='pdf/Recommendation letter - Dhiraj Dhungana.pdf')}}">Recommendation</a>
    </div>
</section>

<section class="services" id="services">
    <h1 class="heading">My <span>Services</span></h1>

    <div class="service-container">
        <div class="service-box">
            <i class='bx bx-code-block'></i>
            <h2 class="subSubHeading">Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus iste iure maxime qui
                quisquam
                quod sed sequi unde voluptatum! Esse expedita iusto, modi non, nostrum numquam, odit possimus quisquam
                quo
                sit temporibus tenetur ut vel. Ad aperiam dicta, dignissimos, fugit impedit ipsum nostrum officia optio
                quam
                quo voluptate voluptatum.</p>
            <a href="#" class="btn-2">Read More</a>
        </div>
        <div class="service-box">
            <i class='bx bx-code-block'></i>
            <h2 class="subSubHeading">Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus iste iure maxime qui
                quisquam
                quod sed sequi unde voluptatum! Esse expedita iusto, modi non, nostrum numquam, odit possimus quisquam
                quo
                sit temporibus tenetur ut vel. Ad aperiam dicta, dignissimos, fugit impedit ipsum nostrum officia optio
                quam
                quo voluptate voluptatum.</p>
            <a href="#" class="btn-2">Read More</a>
        </div>
        <div class="service-box">
            <i class='bx bx-code-block'></i>
            <h2 class="subSubHeading">Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus iste iure maxime qui
                quisquam
                quod sed sequi unde voluptatum! Esse expedita iusto, modi non, nostrum numquam, odit possimus quisquam
                quo
                sit temporibus tenetur ut vel. Ad aperiam dicta, dignissimos, fugit impedit ipsum nostrum officia optio
                quam
                quo voluptate voluptatum.</p>
            <a href="#" class="btn-2">Read More</a>
        </div>
        <div class="service-box">
            <i class='bx bx-code-block'></i>
            <h2 class="subSubHeading">Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus iste iure maxime qui
                quisquam
                quod sed sequi unde voluptatum! Esse expedita iusto, modi non, nostrum numquam, odit possimus quisquam
                quo
                sit temporibus tenetur ut vel. Ad aperiam dicta, dignissimos, fugit impedit ipsum nostrum officia optio
                quam
                quo voluptate voluptatum.</p>
            <a href="#" class="btn-2">Read More</a>
        </div>
        <div class="service-box">
            <i class='bx bx-code-block'></i>
            <h2 class="subSubHeading">Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus iste iure maxime qui
                quisquam
                quod sed sequi unde voluptatum! Esse expedita iusto, modi non, nostrum numquam, odit possimus quisquam
                quo
                sit temporibus tenetur ut vel. Ad aperiam dicta, dignissimos, fugit impedit ipsum nostrum officia optio
                quam
                quo voluptate voluptatum.</p>
            <a href="#" class="btn-2">Read More</a>
        </div>
        <div class="service-box">
            <i class='bx bx-code-block'></i>
            <h2 class="subSubHeading">Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus iste iure maxime qui
                quisquam
                quod sed sequi unde voluptatum! Esse expedita iusto, modi non, nostrum numquam, odit possimus quisquam
                quo
                sit temporibus tenetur ut vel. Ad aperiam dicta, dignissimos, fugit impedit ipsum nostrum officia optio
                quam
                quo voluptate voluptatum.</p>
            <a href="#" class="btn-2">Read More</a>
        </div>
    </div>


</section>

<section class="projects" id="projects">
    <h1 class="heading">My <span>Projects</span></h1>

    <div class="project-container">
        <div class="project-box">
            <img src="../static/img/dhiraj_profile.jpg" alt="dhiraj_profile">
            <div class="project-info">
                <h2 class="subHeading">Web Design</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quaerat.</p>
                <a href="#"><i class='bx bx-link' ></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="../static/img/dhiraj_profile.jpg" alt="dhiraj_profile">
            <div class="project-info">
                <h2 class="subHeading">Web Design</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quaerat.</p>
                <a href="#"><i class='bx bx-link' ></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="../static/img/dhiraj_profile.jpg" alt="dhiraj_profile">
            <div class="project-info">
                <h2 class="subHeading">Web Design</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quaerat.</p>
                <a href="#"><i class='bx bx-link' ></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="../static/img/dhiraj_profile.jpg" alt="dhiraj_profile">
            <div class="project-info">
                <h2 class="subHeading">Web Design</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quaerat.</p>
                <a href="#"><i class='bx bx-link' ></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="../static/img/dhiraj_profile.jpg" alt="dhiraj_profile">
            <div class="project-info">
                <h2 class="subHeading">Web Design</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quaerat.</p>
                <a href="#"><i class='bx bx-link' ></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="../static/img/dhiraj_profile.jpg" alt="dhiraj_profile">
            <div class="project-info">
                <h2 class="subHeading">Web Design</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quaerat.</p>
                <a href="#"><i class='bx bx-link' ></i></a>
            </div>
        </div>
    </div>
</section>

<!--<section class="blogs" id="blogs">
    <h1 class="heading">My <span>Blogs</span></h1>
</section>

<section class="hobbies" id="hobbies">
    <h1 class="heading">My <span>Hobbies</span></h1>
</section>-->

<section class="contact-form" id="contact">
    <h1 class="heading">Contact <span>Me</span></h1>

    <form action="/contactInformation" method="post">

        <div class="input-box">
            <input type="text" placeholder="Full Name" name="Full Name" required>
            <input type="email" placeholder="Email" name="Email" required>
        </div>

        <div class="input-box">
            <input type="number" placeholder="Phone Number" name="Phone Number" maxlength="10"
                   oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10);"/>
            <input type="text" placeholder="Subject" name="Subject">
        </div>

        <textarea name="Message" cols="30" rows="10" placeholder=" Your Message"></textarea>
        <input type="submit" value="Send Message" class="btn-1">

    </form>
</section>

<footer class="footer">

    <div class="social">
        <a href="https://www.linkedin.com/in/dhirajdhungana/"><i class='bx bxl-linkedin-square'></i></a>
        <a href="https://www.facebook.com/originaldhiraj"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://www.instagram.com/dh1raz/"><i class='bx bxl-instagram-alt'></i></a>
        <a href="https://www.youtube.com/@dhirajdhunganaofficial"><i class='bx bxl-youtube'></i></a>
    </div>

    <ul class="list">
        <li>
            <a href="#portfolio">Home</a>
        </li>
        <li>
            <a href="#about">About Me</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
    </ul>

    <p class="copyright">&copy; 2021
        <script>new Date().getFullYear()>2021&&document.write(" - "+new Date().getFullYear());</script>
        Dhiraj Dhungana | All Rights Reserved
    </p>

</footer>

<script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>

</body>
</html>